# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# macOS and system files
.DS_Store
bday/
venv/
.env
